@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tooltip {
    @apply relative before:absolute before:bottom-8 before:left-1/2 before:-translate-x-1/2 before:text-white before:bg-gray-725 before:hover:py-1 before:hover:px-3 before:rounded-xl before:hover:whitespace-nowrap;
  }
  .tooltip-edit {
    @apply tooltip before:hover:content-['Edit'];
  }
  .tooltip-delete {
    @apply tooltip before:hover:content-['Delete'];
  }
  .tooltip-back {
    @apply tooltip before:hover:content-['Go_back'];
  }
  .tooltip-details {
    @apply tooltip before:hover:content-['Details'];
  }
  :invalid {
    color: rgba(1, 163, 175, 1);
  }

  div[data-testid*="modal"] > div > div {
    @apply rounded-xl dark:bg-gray-725;
  }

  .table_scroll th,
  .table_scroll td {
    padding: 10px;
    text-align: left;
    width: 100%;
  }

  .table_scroll {
    overflow-y: auto;
    height: 60vh;
  }
  .table_scroll thead th {
    position: sticky;
    top: 0px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  .table_scroll > div {
    @apply sm:rounded-none;
  }

  #additional_header {
    width: 0;
    padding: 0;
  }
}
